@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }

.type-writer::after {
content: "|";
animation: blink 1s infinite;
}

/* Vertical scrollbar */
::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar:horizontal{
height: 5px;
}

/* Track for both vertical and horizontal scrollbars */
::-webkit-scrollbar-track {
background: #494949;
}

/* Handle for both vertical and horizontal scrollbars */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 2px;
}

/* Handle on hover for both vertical and horizontal scrollbars */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

/* Horizontal scrollbar */
::-webkit-scrollbar-horizontal {
height: 2px;
}

/* Handle for horizontal scrollbar */
::-webkit-scrollbar-thumb:horizontal {
background: #888;
border-radius: 2px;
}

/* Handle on hover for horizontal scrollbar */
::-webkit-scrollbar-thumb:hover:horizontal {
background: #555;
}
